.group-box{
  background: #e7e4f9;
  display: inline-block;
  float: left;
  text-align: center;
  width: 30%;
  margin: 4px;
  padding: 2px;
  font-size: small;
  max-height: 200px;
  overflow: auto;
}

.group-box-label{
  background: #222;
  padding-bottom: 2px;
  width: 100%;
  color: white;
}

